{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h2>Menu</h2>
    <h3>Pizzas</h3>
    <ul>
        <li>
            <h4>Margherita Pizza</h4>
            <p>A classic pizza topped with tomato sauce, mozzarella cheese, and fresh basil.</p>
            <p>Prices:</p>
            <ul>
                <li>Small (10"): €8</li>
                <li>Medium (12"): €10</li>
                <li>Large (14"): €12</li>
            </ul>
        </li>
        <li>
            <h4>Pepperoni Pizza</h4>
            <p>A popular pizza topped with tomato sauce, mozzarella cheese, and pepperoni slices.</p>
            <p>Prices:</p>
            <ul>
                <li>Small (10"): €9</li>
                <li>Medium (12"): €11</li>
                <li>Large (14"): €13</li>
            </ul>
        </li>
        <li>
            <h4>Hawaiian Pizza</h4>
            <p>A tropical pizza topped with tomato sauce, mozzarella cheese, ham, and pineapple.</p>
            <p>Prices:</p>
            <ul>
                <li>Small (10"): €10</li>
                <li>Medium (12"): €12</li>
                <li>Large (14"): €14</li>
            </ul>
        </li>
        
    </ul>

    <h3>Soft Drinks</h3>
    <ul>
        <li>Coca-Cola: €2</li>
        <li>Sprite: €2</li>
        <li>Fanta: €2</li>
        
    </ul>
</div>
{% endblock %}